@model Domain.ViewModel.PrCustomer.PrCustomerVm
@{
    ViewData["Title"] = "Customer Details";
    Layout = "_Layout";
}

<div class="col-sm-12 default-according">

    <input type="hidden" asp-for="Id" />

    <div class="card">
        <div class="card-header d-flex justify-content-between">
            <h5>Customer Profile</h5>
        </div>
        <div class="card-body">
            <div class="row text-dark bg-light px-2 py-3">
                <div class="col-md-8 d-flex">
                    <div class="row">
                        <div class="col-md-5">                          
                            @if (Model.PhotoUrl == null)
                            {
                                <img class="img-fluid rounded shadow-lg" src="~/img/No_Image_Available.jpg" style="height:150px;width:150px;" />
                            }
                            else
                            {
                                <img class="img-fluid rounded shadow-lg" src="@Model.PhotoUrl" style="height:150px;width:150px;" />
                            }
                        </div>
                        <div class="col-md-7 ">
                            <ul>
                                <li><h3>@(Model.CustomerName)</h3></li>
                                <li><b>@(Model.RegistrationNo)</b></li>
                                <li style="font-size: 16px;"><i class="fa fa-envelope mr-2"></i> @(!string.IsNullOrEmpty(Model.Email) ? Model.Email : "--")</li>
                                <li style="font-size: 16px;"><i class="fa fa-mobile mr-2"></i>   @(!string.IsNullOrEmpty(Model.Mobile) ? Model.Mobile : "--")</li>
                            </ul>
                        </div>
                    </div>                   
                </div>
                <div class="col-md-4 ps-5 border-start border-light border-5">
                    <h4>Address</h4>
                    <p style="font-size:16px;">@(Model.Address)</p>
                </div>
            </div>
        </div>
    </div>
    <div class="card">
        <div class="card-body">
            <ul class="nav nav-tabs border-tab" id="top-tab" role="tablist">
                <li class="nav-item"><a class="nav-link active" id="top-home-tab" data-bs-toggle="tab" href="#top-home" role="tab" aria-controls="top-home" aria-selected="true"><i class="icofont icofont-cart"></i>Sales Order</a></li>
                <li class="nav-item"><a class="nav-link" id="contact-top-tab" data-bs-toggle="tab" href="#top-contact" role="tab" aria-controls="top-contact" aria-selected="false"><i class="icofont icofont-tasks"></i>Transaction</a></li>
                <li class="nav-item"><a class="nav-link" id="contact-item-tab" data-bs-toggle="tab" href="#top-item" role="tab" aria-controls="top-item" aria-selected="false"><i class="icofont icofont-tasks"></i>Item Summary</a></li>
            </ul>
            <div class="tab-content" id="top-tabContent">
                <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                    <div class="table table-responsive">
                        <table id="OrderMstSearchTable" class="display" style="width:100%; text-align: center">
                            <thead class="bg-primary">
                                <tr>
                                    <th style="width: 5%">Sl</th>
                                    <th>Order No</th>
                                    <th>Order Date</th>
                                    <th>Payment Mode</th>
                                    <th>Status</th>
                                    <th>Sales Status</th>
                                    <th>Total Amount</th>
                                    <th>Discount</th>
                                    <th>Net Amount</th>
                                    <th>Advance Amount</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="top-contact" role="tabpanel" aria-labelledby="contact-top-tab">
                    <div style="display: flex;justify-content: end;margin: 10px 0px;">
                        <a asp-controller="Customer" asp-action="TransactionPrint" asp-route-id="@Model.Id" class="btn btn-primary" target="_blank">PDF Print</a>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%; text-align: center">
                            <thead class="bg-primary">
                                <tr>
                                    <th>Date</th>
                                    <th>Chalan No</th>
                                    <th>Sales Amount</th>
                                    <th>Received Amount</th>
                                    <th>Balance</th>
                                    <th>Remarks</th>
                                </tr>
                            </thead>
                            <tbody>
@*                                 @if (Model.TransactionLogs.Count > 0)
                                {
                                    foreach (var order in Model.TransactionLogs)
                                    {
                                        <tr>
                                            <td>@(order.TranDate.ToString("dd/MM/yyyy"))</td>
                                            <td>@(order.TranNo)</td>
                                            <td class="text-end">@(order.SalesAmount.ToString("N2"))</td>
                                            <td class="text-end">@(order.ReceiveAmount.ToString("N2"))</td>
                                            <td class="text-end">@(order.Balance.ToString("N2"))</td>
                                            <td>@(order.Remarks)</td>
                                        </tr>
                                    }
                                    <tr style="background-color: #F5F7FB;">
                                        <td colspan="2" class="text-end"><b>Total</b></td>
                                        <td class="text-end"><b>@(Model.TransactionLogs.Sum(c => c.SalesAmount).ToString("N2"))</b></td>
                                        <td class="text-end"><b>@(Model.TransactionLogs.Sum(c => c.ReceiveAmount).ToString("N2"))</b></td>
                                        <td class="text-end"><b>@(Model.TransactionLogs.Select(o => o.Balance).LastOrDefault().ToString("N2"))</b></td>
                                        <td></td>
                                    </tr>
                                } *@
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane fade" id="top-item" role="tabpanel" aria-labelledby="contact-top-tab">
                    <div class="table-responsive">
                        <table class="table table-bordered" style="width:100%; text-align: center">
                            <thead class="bg-primary">
                                <tr>
                                    <th>Category</th>
                                    <th>Item Code</th>
                                    <th>Item</th>
                                    <th>Unit</th>
                                    <th>Sales Qty</th>
                                    <th>Sales Amount</th>
                                    <th>Avg.  Rate</th>
                                </tr>
                            </thead>
                            <tbody>
                                @* @if (Model.ItemSummaryData.Count > 0)
                                {
                                    foreach (var item in Model.ItemSummaryData)
                                    {
                                        <tr>
                                            <td>@(item.CategoryName)</td>
                                            <td>@(item.ItemCode)</td>
                                            <td>@(item.ItemName)</td>
                                            <td>@(item.UnitName)</td>
                                            <td class="text-end">@(item.TotalQty.ToString())</td>
                                            <td class="text-end">@(item.TotalAmount.ToString("N2"))</td>
                                            <td class="text-end">@(item.AverageRate.ToString("N2"))</td>
                                        </tr>
                                    }
                                    <tr style="background-color: #F5F7FB;">
                                        <td colspan="4" class="text-end"><b>Total :</b></td>
                                        <td class="text-end"><b>@(Model.ItemSummaryData.Sum(c => c.TotalQty).ToString("N2"))</b></td>
                                        <td class="text-end"><b>@(Model.ItemSummaryData.Sum(c => c.TotalAmount).ToString("N2"))</b></td>
                                        <td class="text-end"><b>@(Model.ItemSummaryData.Average(o => o.AverageRate).ToString("N2"))</b></td>
                                    </tr>
                                } *@
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
